.story-data  {
    margin: 15 15 5 15;
    align-items: center;
    flex-direction: column;
}

.story-buttons  {
    // margin: 0 20 20 20;
    justify-content: center;
    align-items: center;
}

.story-loop-pic {
    width: 80;
    height: 80;
    border-radius: 100;
    margin-bottom: 5;
    border-color: #4db8ff;
    border-width: 1;
}


.story-loop-tag {
    font-size: 15;
    font-weight: 300;
    margin-bottom: 5;
    color: rgb(38, 19, 146);
}
