<ActionBar class="profile-name" title="Profile <Name>">
  <ActionItem
    (tap)="onLouis()"
    ios.systemIcon="9"
    ios.position="left"
    android.systemIcon="ic_menu_share"
    android.position="actionBar"
  >
  </ActionItem>
  <ActionItem
    text="delete"
    (tap)="onLouis()"
    ios.systemIcon="16"
    ios.position="right"
    android.position="popup"
  >
  </ActionItem>
</ActionBar>

<StackLayout>
  <ScrollView>
      <StackLayout>
        <FlexboxLayout class="profile-data">
          <Image class="profile-avatar" src="/Users/louisambrose/Downloads/profilePic.jpeg"></Image>
          <Label class="profile-username" text="Louis"></Label>
          <Label class="profile-description" textWrap="true" textAlignment="center">
            <FormattedString>
              <span text="The following example creates a row of three items placed at the top of the screen. Items are placed in the order they were declared in."></span>
            </FormattedString>
          </Label>
        </FlexboxLayout>

        <FlexboxLayout class="profile-buttons">
          <button text="Edit Profile" (tap)="onEdit()"></button>
          <button text="Socials" (tap)="onLouis()"></button>
        </FlexboxLayout>

        <StackLayout>
            <ns-app-post *ngFor="let post of posts" [post]="post"></ns-app-post>
        </StackLayout>
      </StackLayout>
  </ScrollView>
</StackLayout>
